<footer id="footer" class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l4 s12">
				<img src="img/logo_white_background.png" alt="ESUC logo" class="footer-logo"/>
				<h5 class="footer-title">Engineering Society</h5>
				<p class="footer-title-text">University of California, Los Angeles</p>
			</div>
			<div class="col l3 s12 footer-section">
				<h5 class="white-text">Our Sponsors</h5>
				<ul>
					<li><a class="white-text text-lighten-3" href="http://www.phillips66.com/EN/Pages/index.aspx" target="_blank"><u>Phillips 66</u></a></li>
					<li><a class="white-text text-lighten-3" href="http://symbiorobotics.com/" target="_blank"><u>Symbio Robotics</u></a></li>
				</ul>
			</div>
			<div class="col l3 s12 footer-section">
				<h5 class="white-text footer-section-title">Contact Us</h5>
				<ul>	
					<li class="white-text">ESUC Mailing Address</li>
					<li>
						<ul class="sub-list">
							<li class="white-text">5800 Boelter Hall, UCLA</li>
							<li class="white-text">420 Westwood Plaza</li>
							<li class="white-text">Los Angeles, CA 90095</li>
						</ul>
					</li>
					<br>
					<li class="white-text">General Email Address</li>
					<li>
						<ul class="sub-list">
							<li><a class="white-text" href="mailto:esuc.ucla@gmail.com"><u>esuc.ucla@gmail.com</u></a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col l2 s12 footer-section">
				<h5 class="white-text footer-section-title">Connect</h5>
				<ul>
					<li class="white-text">Our Blog</li>
					<li>
						<ul class="sub-list white-text">
							<li>
								<a href="https://bruinengineers.wordpress.com" class="white-text" target="_blank"><u>Bruin Engineers</u></a>
							</li>
						</ul>
					</li>
					<li class="social-networks"><img src="img/social_media_icons/facebook.png" width="25px" height="25px"><a href="https://www.facebook.com/ESUCLA" class="white-text" target="_blank">&nbsp;&nbsp;<u>Facebook</u></a></li>
					<li class="social-networks"><img src="img/social_media_icons/twitter.png" width="25px" height="25px"><a href="https://twitter.com/esucla" class="white-text" target="_blank">&nbsp;&nbsp;<u>Twitter</u></a></li>
					<li class="social-networks"><img src="img/social_media_icons/linkedin.png" width="25px" height="25px"><a href="https://www.linkedin.com/groups/Engineering-Society-UCLA-7449973?gid=7449973&trk=vsrp_groups_res_name&trkInfo=VSRPsearchId%3A3532053701420485284181%2CVSRPtargetId%3A7449973%2CVSRPcmpt%3Aprimary" class="white-text" target="_blank">&nbsp;&nbsp;<u>LinkedIn</u></a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<p class="white-text">&copy; 2017 Engineering Society of UCLA. Designed by Avi Kejariwal, Danny Nguyen, and <a href="http://kylewong.me" target="_blank" class="white-text">Kyle Wong</a></p>
		</div>
	</div>
</footer>