<header>
	<nav>
		<div class="nav-wrapper white">
			<a href="#" class="brand-logo left"><img src="img/esuc-header@2x.png"></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#about">ABOUT</a></li>
				<li><a href="#blog">BLOG</a></li>
				<li><a href="#Calendars">CALENDARS</a></li>
				<li><a href="#Eweek">EWEEK</a></li>
				<li><a href="#Officers">OFFICERS</a></li>
				<li><a href="#Sponsors">SPONSORS</a></li>
			</ul>
		</div>
	</nav>
</header>