<header>
	<nav>
		<div class="nav-wrapper white-text">
			<a href="/#" class="brand-logo"><img src="img/logo-white.png"></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<div id="title_wrapper" class="hide-on-med-and-down">
				<div id="title" class="">Engineering Society at</div>
				<div id="sub-title" class="">University of California, Los Angeles</div>
			</div>			
			<ul class="right hide-on-med-and-down">
				<li><a href="/#about">ABOUT</a></li>
				<!--<li><a href="/#blog">BLOG</a></li>-->
				
				
				<li><a href="/engineering_calendar">CALENDARS</a></li>
				<!-- <li><a href="#" class='dropdown-button' data-beloworigin="true" data-constrainwidth="false" data-hover="true" data-activates='calendar_dropdown'>CALENDARS</a></li> -->

				<!-- <ul id='calendar_dropdown' class='dropdown-content white-text'>
					<li><a href="/engineering_calendar">Engineering and Industry Calendars</a></li>
					<li><a href="/lounge_calendar">ESUC Lounge Calendar</a></li>
					<li class="divider"></li>
					<li><a href="/add_event">Add Your Event</a></li>
				</ul> -->

				<!-- <li><a href="#" class='dropdown-button' data-beloworigin="true" data-constrainwidth="false" data-hover="true" data-activates='info_dropdown'>INFO</a></li>

				<ul id='info_dropdown' class='dropdown-content white-text'>
					<li><a href="/pinfo">Promotional Info</a></li>
					<li><a href="/cinfo">Our Club Partners</a></li>
				</ul> -->

				<li><a href="https://esuc-eweek-2020.herokuapp.com/" target="_blank">EWD</a></li>
				<li><a href="/#officers">OFFICERS</a></li>
				<li><a href="/#sponsors">SPONSORS</a></li>
			</ul>

			<ul id="mobile-demo" class="side-nav">
				<li><a href="/#about">ABOUT</a></li>
				<!--<li><a href="/#blog">BLOG</a></li>-->
				<li><a href="#">CALENDARS</a></li>

				<ul class='black-text'>
					<li><a href="/engineering_calendar">Engineering Calendar</a></li>
					<li><a href="/lounge_calendar">ESUC Lounge Calendar</a></li>
					<li><a href="/add_event">Add Your Event</a></li>
				</ul>

				<li><a href="https://esuc-eweek-2019.herokuapp.com/" target="_blank">EWEEK</a></li>
				<li><a href="/#officers">OFFICERS</a></li>
				<li><a href="/#sponsors">SPONSORS</a></li>
			</ul>
		</div>
	</nav>
</header>