<header>
	<nav>
		<div class="nav-wrapper" id="<%= nav_wrapper_id %>">
			<div class="row">
				<div class="col s2 m2 l1">
					<a href="/" class="brand-logo left"><img src="img/logo_blue_swish.png"></a>
				</div>
				<div class="col s3 m3 l3">
					<div id="title" class="row">Engineering Society</div>
					<div id="sub-title" class="row">University of California, Los Angeles</div>
				</div>
				<div class="col s7 m8 l7 right">	
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#blog">BLOG</a></li>
						<li><a href="#" class='dropdown-button' data-beloworigin="true" data-constrainwidth="false" data-hover="true" data-activates='calendar_dropdown'>CALENDARS</a></li>

						<ul id='calendar_dropdown' class='dropdown-content black-text'>
							<li><a href="engineering_calendar">Engineering Calendar</a></li>
							<li><a href="lounge_calendar">ESUC Lounge Calendar</a></li>
							<li class="divider"></li>
							<li><a href="add_event">Add your event!</a></li>
						</ul>

						<li><a href="#eweek">EWEEK</a></li>
						<li><a href="#officers">OFFICERS</a></li>
						<li><a href="#sponsors">SPONSORS</a></li>
					</ul>
				</div>			
			</div>
		</div>
	</nav>
</header>