<div id="about" class="page">
	<h1> WHO ARE WE? </h1>
	<!-- <p> Where is this at now huh? </p> -->
	<hr style="border:2px solid rgb(56, 70, 85); width: 12.5%">
	<br> </br>
	<p> As an umbrella organization, the Engineering Society of UCLA helps facilitate communication and events between the engineering student body and the UCLA School of Engineering </p>

</div>