<div id="about" class="page">
	<h3 class="header-center">WHO WE ARE?</h3>
	<br>
	<p style="padding-left:30px; padding-right:30px"> As an umbrella organization, the Engineering Society of UCLA helps facilitate communication and events between the engineering student body and the UCLA School of Engineering. In paritcular, ESUC is responsible for hosting several major engineering school events, including Engineering Welcome Day and Engineering Week. </p>
    <p> ESUC is located at its lounge in Boelter 5800 of which is open for homework use as well as meetings with ESUC officers. </p>
    <br>
    
    <script type="text/javascript" language="javascript">
    $( document ).ready(function(){

/*        $(".button-collapse").sideNav();//mobile screen menu init */

        $('.carousel').carousel(); //carousel init

/*        $('.carousel-slider').slider({full_width: true});//slider init */
    });

    </script>
    
    
    <!-- <div class="carousel" style="padding-bottom: 50px">
        <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
        <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
        <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
        <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
        <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
    </div> -->
    
    <h3 class="header-center">WHAT WE DO?</h3>
    <div class="slider">
    <ul class="slides">
      <li>
        <img src="img/what-we-do/ewd.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Engineering Welcome Day</h3>
          <p class="light white-text ">Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost, serve as a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to create a smooth transition to UCLA Engineering and to inform students of resources that are available to them to assist in their academic and professional success.</p>
        </div>
      </li>
      <li>
        <img src="img/what-we-do/rtl.png"> <!-- random image -->
        <div class="caption left-align">
          <h3>ROUNDTABLE LUNCHEON</h3>
          <p class="light white-text">The roundtable luncheon is a quarterly meeting among the Presidents and Vice Presidents of the various engineering student organizations and individuals from UCLA Engineering’s Office of Academic and Student Affairs. The purpose of this meeting is to maintain a flow of communication between student organizations and the administration.</p>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>STARTUP FAIR</h3>
          <p class="light white-text">UCLA Engineering organizations held it’s first ever StartUp fair in the Fall of 2013. Similar to a typical career fair, this event features companies strictly from the local startup community. The purpose of this event is to provide engineers the opportunity to learn more about the startup culture. In addition to the startup company representatives attending to recruit UCLA Engineers, this event features several panel discussions aimed towards providing students with the proper skills to succeed in their own business ventures.</p>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>EXECUTIVE COMMITTEE MEETING</h3>
          <p class="light white-text">The Executive Committee Meeting (ExComm) is a meeting between the Presidents and Vice Presidents of the various engineering student organizations. This meeting takes place after the Roundtable Luncheon, and serves as a follow-up discussion that expands upon topics brought up during the Roundtable Luncheon. The purpose of this event is to sustain effective communication between the engineering clubs on campus.</p>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/5"> <!-- random image -->
        <div class="caption center-align">
          <h3>ENGINEERING ALUMNI MIXER</h3>
          <p class="white-text">In an effort to bridge the gap of communication between current students and alumni, we hope this event will provide us all with the opportunity to strengthen the bonds of UCLA Engineering and foster a closer knit community.</p>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/8"> <!-- random image -->
        <div class="caption left-align">
          <h3>ENGINEERING LEADERSHIP CONFERENCE</h3>
          <p class="light white-text">Engineering Leadership Conference is a collaborative event between ESUC’s corporate affiliates and nearly 200 student leaders within UCLA Engineering. The purpose of this event is to enhance leadership skills and promote effective communication between student leaders.</p>
        </div>
      </li>
    </ul>
  </div>

    <!--<br>
    <div class="row" style="padding-left:30px; padding-right:30px">
        <div class="col s4">
            <h2 style="font-weight:900"> ENGINEERING WELCOME DAY </h2>
            <p style="text-align:justify"> Engineering Welcome Day is an orientation event for roughly 700 incoming engineering freshmen and transfer students. As ESUC’s first event of the school year, the purpose of this event is to first and foremost, serve as a forum where students have the opportunity to network with faculty, staff, alumni and peers in an effort to create a smooth transition to UCLA Engineering and to inform students of resources that are available to them to assist in their academic and professional success. </p>
        </div>
        <div class="col s4">
            <h2 style="font-weight:900"> STARTUP FAIR </h2>
            <p style="text-align:justify"> UCLA Engineering organizations held it’s first ever StartUp fair in the Fall of 2013. Similar to a typical career fair, this event features companies strictly from the local startup community. The purpose of this event is to provide engineers the opportunity to learn more about the startup culture. In addition to the startup company representatives attending to recruit UCLA Engineers, this event features several panel discussions aimed towards providing students with the proper skills to succeed in their own business ventures. </p>
        </div>
        <div class="col s4">
            <h2 style="font-weight:900"> EXECUTIVE COMMITTEE MEETING </h2>
            <p style="text-align:justify"> The Executive Committee Meeting (ExComm) is a meeting between the Presidents and Vice Presidents of the various engineering student organizations. This meeting takes place after the Roundtable Luncheon, and serves as a follow-up discussion that expands upon topics brought up during the Roundtable Luncheon. The purpose of this event is to sustain effective communication between the engineering clubs on campus. </p>
        </div>
    </div>
    
        <div class="row" style="padding-left:30px; padding-right:30px">
        <div class="col s4">
            <h2 style="font-weight:900"> ROUNDTABLE LUNCHEON </h2>
            <p style="text-align:justify"> The roundtable luncheon is a quarterly meeting among the Presidents and Vice Presidents of the various engineering student organizations and individuals from UCLA Engineering’s Office of Academic and Student Affairs. The purpose of this meeting is to maintain a flow of communication between student organizations and the administration. </p>
        </div>
        <div class="col s4">
            <h2 style=  "font-weight:900"> ENGINEERING ALUMNI MIXER </h2>
            <p style="text-align:justify"> In an effort to bridge the gap of communication between current students and alumni, we hope this event will provide us all with the opportunity to strengthen the bonds of UCLA Engineering and foster a closer knit community. </p>
        </div>
        <div class="col s4">
            <h2 style="font-weight:900"> ENGINEERING LEADERSHIP CONFERENCE </h2>
            <p style="text-align:justify"> Engineering Leadership Conference is a collaborative event between ESUC’s corporate affiliates and nearly 200 student leaders within UCLA Engineering. The purpose of this event is to enhance leadership skills and promote effective communication between student leaders. </p>
        </div>
    </div> -->
</div>