<!DOCTYPE html>
<head>
	<title>Club Info</title>
	<% include partials/dependencies %>
	<link rel="stylesheet" href="css/single_page.css" type='text/css'>
</head>
<body>
	<% include partials/header %>
	<main>
		<center><h2>Club Info</h2>
		<p>Below you will find the clubs partnered or involved with ESUC.</p></center>
		
		<iframe width='100%' height='1500' src="https://docs.google.com/document/d/e/2PACX-1vSuSnY78GtWAZTe2SUMUl5Ws3s5HvG5yvdUhuY466OjFcyP7etfYesy4zpygl3vuvfOVCqwynyA21Cy/pub?embedded=true"></iframe>

	</main>
	<% include partials/footer %>

</body>