<!DOCTYPE html>
<head>
	<title>UCLA Engineering Calendar</title>
	<% include partials/dependencies %>
	<link rel="stylesheet" href="css/single_page.css" type='text/css'>
</head>
<body>
	<% include partials/header %>
	<main>
		<div id="engineering-calendar">
			<h2 class="center">ENGINEERING CALENDAR</h2>
			<p>The Engineering Calendar contains the comprehensive list of events hosted by various engineering clubs on campus. You can find all the upcoming, present and past events right here! Note to view the ESUC lounge calender and request bookings head over to the ESUC lounge tab. </p>
			<% include partials/preloader %>
			<div class="section col-md-12">
				<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=adb3nval8fglknomqdik3brgd0%40group.calendar.google.com&amp;color=%23691426&amp;src=acmbruins%40gmail.com&amp;color=%230F4B38&amp;src=aiaaucla%40gmail.com&amp;color=%230F4B38&amp;src=mg89t43rdbasj67i2jpekov5ag%40group.calendar.google.com&amp;color=%23853104&amp;src=bmesucla%40gmail.com&amp;color=%235F6B02&amp;src=g.ucla.edu_pm45q293j7dtpnirhfhqcns5u0%40group.calendar.google.com&amp;color=%23875509&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%2328754E&amp;src=t30pjp3764ll7nfs2f2ml980bg%40group.calendar.google.com&amp;color=%238D6F47&amp;src=esuc.webmaster%40gmail.com&amp;color=%23AB8B00&amp;src=f9ce4unubatjcjptpksnsoakco%40group.calendar.google.com&amp;color=%238D6F47&amp;src=hkn.ucla%40gmail.com&amp;color=%23711616&amp;src=m980q306mg3rfvuh7jhm43fr5s%40group.calendar.google.com&amp;color=%23691426&amp;src=6dg8lk5ff6m6kdtleech7jrlq8%40group.calendar.google.com&amp;color=%23182C57&amp;src=uclatec%40gmail.com&amp;color=%235229A3&amp;src=esuc.secretary%40gmail.com&amp;color=%23853104&amp;src=umh1upatck4qihkji9k6ntpc9k%40group.calendar.google.com&amp;color=%235229A3&amp;src=linux.ucla.edu_0vqq44bmrfmohv0cpuh68u0ai0%40group.calendar.google.com&amp;color=%23875509&amp;src=sbql2ii7gpcg411f8ksuv1f5vo%40group.calendar.google.com&amp;color=%2329527A&amp;src=smvucla%40gmail.com&amp;color=%23B1365F&amp;src=upe.ucla%40gmail.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>

		<br>
		<br>
		<br>

		<div id="engineering-calendar">
			<h2 class="center">Industry Recruitment Calendar</h2>
			<p>The Industry Recruitment Calendar contains a list of industry recruitment related events hosted by various engineering clubs, the career center, and the office of academic and student affairs.</p>
			<% include partials/preloader %>
			<div class="section col-md-12">
				<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tn50r7iie1olab1kclhbjcj6rc%40group.calendar.google.com&amp;color=%2342104A&amp;src=06des4gl36nhufnptgolsifq78%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>

	</main>
	<% include partials/footer %>

</body>
