<!DOCTYPE html>

<head>
	<title>UCLA Engineering Calendar</title>
	<% include partials/dependencies %>
	<link rel="stylesheet" href="css/single_page.css" type='text/css'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.2.0/main.min.css">
	<!-- <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet' /> -->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.2.0/main.min.js"></script>
	<link rel="stylesheet" href="css/calendar.css" type='text/css'>
</head>

<body>
	<% include partials/header %>
	<main>
		<br>
		<br>


		<div id="highlights-calendar">
			<h2 class="center">Highlights Calendar</h2>
			<p>The Highlights Calendar gives a spotlight to the most prominent events taking place in the engineering student community, including various organization's general meetings, career fairs, town halls, and more!</p>
			<div class="section col-md-12">
				<div id='h-calendar'></div>
			</div>
		</div>

		<br>
		<br>
		<div class="engineering-calendar">
			<h2 class="center">Workshops, Speakers, & Other Calendar</h2>
			<p>The Workshops, Speakers, & Other Calendar provides info about other events put on by our engineering organizations, including various workshops, speaker panels, and more!</p>
			<div class="section col-md-12">
				<div id='calendar'></div>
			</div>
		</div>
		<br>
		<br>
		<div class="engineering-calendar">
			<h2 class="center">ESUC Lounge Reservations</h2>
			<p>Check here for ESUC Lounge availability! If you're representing a student organization, you can make a reservation here: <a href="https://calendly.com/esuc-president/esuc-lounge-reservations">ESUC Lounge Reservations</a></p>
			<div class="section col-md-12">
				<div id='r-calendar'></div>
			</div>
		</div>
		<br>
		<br>

		<p style="text-align: center;"><i>If you run into any issues, or if you'd like to add your organization's events to either one of these calendars, please reach out to esuc.ucla.webmaster(at)gmail.com</i></p>

	</main>
	<% include partials/footer %>

	<script>
		// var class_names = ['acm-general', 'aiaa', 'alche', 'asce', 'bmes', 'bhs', 'uip', 'ite', 'hkn', 'swe', 'ieee', 'upe'];
		var calendar = {};

		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');
			calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'timeGridWeek',
				themeSystem: 'standard',
				height: '70vh',
				googleCalendarApiKey: 'AIzaSyAATfuHVUc-akmJe_EkYkvhvBMwXPk7agw',
				nowIndicator: 'true',
				scrollTime: '12:30:00',
				headerToolbar: {
					start: 'today prev,next',
					center: 'title',
					end: 'dayGridMonth,timeGridWeek,listWeek'
				},
				eventClick: function (info) {
					info.jsEvent.preventDefault(); // don't let the browser navigate

					if (info.event.url) {
						window.open(info.event.url);
					}
				},
				eventSources: [
					{
						googleCalendarId: '1nqab59ggjj4l7ne3j1l54qapg@group.calendar.google.com'
					},
				]
			});
			calendar.render();

			var highlightsEl = document.getElementById('h-calendar');
			highlightsC = new FullCalendar.Calendar(highlightsEl, {
				initialView: 'dayGridMonth',
				themeSystem: 'standard',
				height: '70vh',
				googleCalendarApiKey: 'AIzaSyAATfuHVUc-akmJe_EkYkvhvBMwXPk7agw',
				nowIndicator: 'true',
				scrollTime: '12:30:00',
				headerToolbar: {
					start: 'today prev,next',
					center: 'title',
					end: 'dayGridMonth,timeGridWeek,listWeek'
				},
				eventClick: function (info) {
					info.jsEvent.preventDefault(); // don't let the browser navigate
					if (info.event.url) {
						window.open(info.event.url);
					}
				},
				eventSources: [
					{
						googleCalendarId: 'gklf3v6speni9f9lbc8cnlrp4o@group.calendar.google.com'
					},
				]
			});
			highlightsC.render();

			var reservationsEl = document.getElementById('r-calendar');
			reservationsC = new FullCalendar.Calendar(reservationsEl, {
				initialView: 'dayGridMonth',
				themeSystem: 'standard',
				height: '70vh',
				googleCalendarApiKey: 'AIzaSyAATfuHVUc-akmJe_EkYkvhvBMwXPk7agw',
				nowIndicator: 'true',
				scrollTime: '12:30:00',
				headerToolbar: {
					start: 'today prev,next',
					center: 'title',
					end: 'dayGridMonth,timeGridWeek,listWeek'
				},
				eventClick: function (info) {
					info.jsEvent.preventDefault(); // don't let the browser navigate
					if (info.event.url) {
						window.open(info.event.url);
					}
				},
				eventSources: [
					{
						googleCalendarId: '1lgmciosqf4vmr6gj8v3gvl0qs@group.calendar.google.com'
					},
				]
			});
			reservationsC.render();
		});


	</script>
</body>