<!DOCTYPE html>
<head>
	<title>UCLA Engineering Calendar</title>
	<% include partials/dependencies %>
	<link rel="stylesheet" href="css/single_page.css" type='text/css'>
</head>
<body>
	<% include partials/header %>
	<main>
		<div id="engineering-calendar">
			<h2 class="center">ENGINEERING CALENDAR</h2>
			<p>The Engineering Calendar contains the comprehensive list of events hosted by various engineering clubs on campus. You can find all the upcoming, present and past events right here!</p>
			<% include partials/preloader %>
			<div class="section col-md-12">
				<iframe src="https://www.google.com/calendar/embed?title=UCLA%20Engineering%20Events%20Calendar&height=600&wkst=1&bgcolor=%23FFFFFF&src=adb3nval8fglknomqdik3brgd0%40group.calendar.google.com&color=%232952A3&src=esuc.ucla%40gmail.com&color=%2329527A&src=acmbruins%40gmail.com&color=%238D6F47&src=aiaaucla%40gmail.com&color=%232952A3&src=documents.aiche.ucla%40gmail.com&color=%23B1440E&src=ewbucla%40gmail.com&color=%238C500B&src=hkn.ucla%40gmail.com&color=%2328754E&src=ucla.thetatau%40gmail.com&color=%23333333&src=m980q306mg3rfvuh7jhm43fr5s%40group.calendar.google.com&color=%232F6309&src=taipei66%40gmail.com&color=%2342104A&src=6dg8lk5ff6m6kdtleech7jrlq8%40group.calendar.google.com&color=%232952A3&src=uclatec%40gmail.com&color=%23853104&src=j58a7fncih0g88vhvg5ccjcnic%40group.calendar.google.com&color=%232F6309&src=vvq3t2hlgiiisak0k0ao83ue3c%40group.calendar.google.com&color=%235229A3&src=bmesucla%40gmail.com&color=%23AB8B00&src=umh1upatck4qihkji9k6ntpc9k%40group.calendar.google.com&color=%23875509&src=linux.ucla.edu_0vqq44bmrfmohv0cpuh68u0ai0%40group.calendar.google.com&color=%23B1440E&src=smvucla%40gmail.com&color=%238C500B&src=upe.ucla%40gmail.com&color=%235229A3&ctz=America%2FLos_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>		
			</div>
		</div>
	</main>
	<% include partials/footer %>

</body>
