<!DOCTYPE html>

<head>
	<title>Engineering Society at UCLA</title>
	<% include partials/dependencies %>
	<link rel="stylesheet" href="css/multi_page.css" type='text/css'>
</head>

<body>
	<% include partials/header %>
	<% include partials/background %>
	<main>
		<% include landing %>
		<% include about %>
		<% include officers %>
		<% include sponsors %>
	</main>
	<% include partials/footer %>
</body>