<!DOCTYPE html>
<head>
	<title>Engineering Society at UCLA</title>
	<% include partials/dependencies %>
</head>
<body>
	<% include partials/header %>
	<main>
		<% include landing %>
		<% include about %>
		<% include sponsors %>
		<% include officers %>
	</main>
	<% include partials/footer %>
</body>
