<div id="landing" class="page">
	<div class="landing-contents">
		<img class="responsive-img bruin-bear" alt="Bruin Bear" src="img/bruin-bear-logo.png"/>
		<h3 class="landing-header-text">Engineering Society of UCLA</h3>
		<div class="landing-buttons">
			<a class="button landing-left-button" href="https://www.facebook.com/ESUCLA/events" target="_blank">Latest Events</a>
			<a class="button landing-right-button" href="/blog">#Blog</a>
		</div>
	</div>
</div>