<div id="landing" class="page">
	<div class="landing-overlay"></div>
	<div class="content">
		<h1 class="landing-text">Engineering Society at UCLA</h1>
		<img src="img/bruin-bear.png" alt="bruin-bear" class="bruin-bear responsive-img">
		<p class="landing-text landing-desc">The umbrella organization that facilitates communication and events between
			the
			engineering student body and the UCLA School of Engineering</p>
		<a href="https://www.facebook.com/ESUCLA/events" class="event-button" target="_blank">Events</a>
		<p class="survival-guide">Check out the newest version of the
			<a href="/doc/Engineering-Survival-Guide-20-21.pdf" target="_blank" class="survival-guide"> <u>Engineering
					Survival Guide!</u> </a> </p>
	</div>
</div>