<div id="officers" class="page">
	<h3 class="header-center">OFFICERS</h3>
	<div class="row">
		<div class="col s12 m6 l4 separate">
			<% include officers/president %>
		</div>
		<div class="col s12 m6 l4 separate">
			<% include officers/ivp %>
		</div>
		<div class="col s12 m6 l4 separate">
			<% include officers/evp %>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6 l4 separate">
			<% include officers/secretary %>
		</div>
		<div class="col s12 m6 l4 separate">
			<% include officers/treasurer %>
		</div>
		<div class="col s12 m6 l4 separate">
			<% include officers/eweek_chair %>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6 l4 separate">
			<% include officers/corporate_director %>
		</div>
		<div class="col s12 m6 l4 separate">
			<% include officers/events_chair %>
		</div>
		<div class="col s12 m6 l4 separate">
			<% include officers/publicity_chair %>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6 l4 separate">
			<% include officers/media_director %>
		</div>
		<div class="col s12 m6 l4 separate">
			<% include officers/historian %>
		</div>
		<div class="col s12 m6 l4 separate">
			<% include officers/webmaster %>
		</div>
	</div>
</div>