<div id="sponsors" class="page">
	<h3 class="header-center">Sponsors</h3>
	<div class="row">
		<!--More sponsors, change s, m, l values accordingly-->
		<div class="col s6 m3 l3">
		</div>
		<div class="col s6 m3 l3">
			<% include sponsors/sponsor1 %>
		</div>
		<div class="col s6 m3 l3">
			<% include sponsors/sponsor2 %>
		</div>
		<div class="col s6 m3 l3">
		</div>
	</div>
</div>