<div id="sponsors" class="page">
	<h3 class="header-center">Sponsors</h3>
	<div class="row">
		<!--More sponsors, change s, m, l values and all sections accordingly-->
		<div class="col offset-s1 offset-m2 offset-l3"></div>
		<div class="col s5 m4 l3">
			<% include sponsors/sponsor1 %>
		</div>
		<div class="col s5 m4 l3">
			<% include sponsors/sponsor2 %>
		</div>
		<div class="col s1 m2 l3"></div>
	</div>
</div>