<div id="sponsors" class="page">
	<h3 class="header-center">SPONSORS</h3>
	<div class="row">
		<!--More sponsors, change s, m, l values and all sections accordingly s1m2l3s5m4l3-->
		<div class="col offset-s4 offset-m4 offset-l4"></div>
		<div class="col s4 m4 l4">
			<% include sponsors/sponsor1 %>
		</div>
		<!--<div class="col s1 m2 l3"></div>-->
	</div>
</div>