html, body {
	height: 100% ;
	width: 100% ;
	margin: 0px;
	padding: 0px;
	font-family: 'Martel Sans', sans-serif;
}
form .btn{
  background-color: #225a9d !important;
}
form label {
     color: gray !important;
   }

   form input:focus + label {
     color: #225a9d !important;
     font-weight: bolder !important;
     font-size: larger !important;
   }

   form input:focus {
     border-bottom: 1px solid #225a9d !important;
     box-shadow: 0 1px 0 0 #225a9d !important;
   }


   .picker__weekday-display{
   		background-color: #225a9d;
   }

   .picker__date-display{
   		background-color: #225a9d;
   }


   .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
   		background-color: #225a9d;
   }


   .picker__day.picker__day--today{
   		    color: #225a9d;
   }

   .picker__close, .picker__today{
   		color: #225a9d;
   }

   .slider {
    z-index: 1;
   }


   footer {
    background-color: blue;
   }


h2, h3 {
  color: #225a9d;
}

.slider .indicators .indicator-item.active{
  background-color: #225a9d;
}

