html, body {
	height: 100% ;
	width: 100% ;
	margin: 0px;
	padding: 0px;
	font-family: 'Martel Sans', sans-serif;
}
form .btn{
  background-color: #225a9d !important;
}
form label {
     color: gray !important;
   }

   form input:focus + label {
     color: #225a9d !important;
     font-weight: bolder !important;
     font-size: larger !important;
   }

   form input:focus {
     border-bottom: 1px solid #225a9d !important;
     box-shadow: 0 1px 0 0 #225a9d !important;
   }
#sidenav-overlay{
  display: none !important;
}

   .picker__weekday-display{
   		background-color: #225a9d;
   }

   .picker__date-display{
   		background-color: #225a9d;
   }


   .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
   		background-color: #225a9d;
   }


   .picker__day.picker__day--today{
   		    color: #225a9d;
   }

   .picker__close, .picker__today{
   		color: #225a9d;
   }

   .slider {
    z-index: 1;
   }


   footer {
    background-color: blue;
   }


h2, h3 {
  color: #225a9d;
}

.slider .indicators .indicator-item.active{
  background-color: #225a9d;
}


/*CSS for footer*/
#footer{
  padding-top: 25px;
  padding-bottom: 5px;
  background-color: rgba(34,90,157,0.7);
}

.footer-logo{
  max-width: 200px;
  -webkit-animation:unspin 0.5s;
    -moz-animation:unspin 0.5s;
    animation:unspin 0.5s;
}

.footer-logo:hover{
  -webkit-animation:spin 0.5s;
    -moz-animation:spin 0.5s;
    animation:spin 0.5s;
}

.footer-title{
  color: rgba(255,255,255,1);
}

.footer-title-text{
  color: rgba(255,255,255,1);
  margin-top: -5px;
}

.footer-section-title{
  text-align: left;
}

.sub-list{
  padding-left: 25px;
}

/*End CSS for footer*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #969696; 
}
