nav {
	line-height: 35px !important;
	height: 100px;
	position: fixed;
	background-color: rgba(255,255,255,0.4);
}
li:hover {
	background: none !important;
}
a:hover {
	background: none !important;
}

nav .row {
	margin-bottom: 0px !important;
}

.transparent .dropdown-content{
	background-color: background-color: rgba(255,255,255,0.4);;
	box-shadow: none !important;
}

.transparent .dropdown-content a{
	color: black !important;
}

.dropdown-content {
	padding: 0px !important;
}

.nav-wrapper{
    color: black;
}

@keyframes color_up {
    from {
        background-color: rgba(255,255,255,0.4);
    }
    to {
        background-color: rgba(255,255,255,1.0);
    }
}

#increaseOpacity{
	animation-name: color_up;
	animation-duration: 1s;
	animation-direction: normal;
	animation-timing-function: ease-in-out;
	background-color: rgba(255, 255, 255, 1.0);
}

#increaseOpacity a{
	color: gray;
}

#title_wrapper{
	position: absolute;
	left:120px;
}
.transparent {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

,
#decreaseOpacity{
	animation-name: color_up;
	animation-duration: 1s;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	background-color: rgba(255, 255, 255, 0.4);
}

#decreaseOpacity a{
	color: black;
}
nav #title_col {
	margin: 5px;
}


nav img {
	max-height: 100px;
	margin: 5px;
	padding: 10px;
}

.transparent ul a {
	color: black !important;
}

nav ul a {
	color: #225a9d !important;
}
nav ul {
	padding: 30px;
}

#title {
	margin-top: 15px;
	padding-left: 5px;
	font-size: larger;
	font-weight: bolder;
}

#sub-title {
	margin-left: 5px;
}
