nav {
	line-height: 35px !important;
	height: 100px;
	position: fixed;
	background-color: rgba(255,255,255,0.4);
	z-index: 2;
}
li:hover {
	background: none !important;
}
a:hover {
	background: none !important;
}

nav .row {
	margin-bottom: 0px !important;
}

.white .dropdown-content {
	background-color: rgba(78,123,177,01) !important;
	box-shadow: none !important;
}

.transparent .dropdown-content a{
	color: white !important;
}

.dropdown-content {
	padding: 0px !important;
}

#title_wrapper{
	position: absolute;
	left:120px;
}
.transparent {
	background-color: rgba(34, 90, 157, 0.8) !important;
}

nav #title_col {
	margin: 5px;
}


nav img {
	max-height: 100px;
	margin: 5px;
	padding: 10px;
}

nav ul {
	padding: 30px;
}

#title {
	margin-top: 15px;
	padding-left: 5px;
	font-size: larger;
	font-weight: bolder;
}

#sub-title {
	margin-left: 5px;
}
