main {
	height: 400% ; /* 4 sub-pages x 100% */
	width: 100% ;
	margin: 0px;
	padding: 0px;
}

.page {
	height: 25%; /* 100% / 4 sub-pages %/ */
	width: 100%;
	border: 1px solid black;
	padding-top: 50px;
	padding-left: 80px;
	padding-right: 80px;
}

#landing {
	color: black;
	background-image: url('/img/engineering-building.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#landing-menu ul li {
	display: inline;
	width: 10%;
	padding: 15px;
	font-size: 1.3em;
}

#about {
	background-color: black;
}

/*CSS for sponsors*/
#sponsors{
	padding-left: 5%;
	padding-right: 5%;
	/*height: 15%;*/ 
}

.sponsor-img{
	max-width: 250px;
	margin: auto;
	padding: 5px;
	box-shadow: 0px 0px 10px rgba(180,180,180,1);
	transition: box-shadow 0.5s;
}

.sponsor-img:hover{
	box-shadow: 0px 0px 20px rgba(0,0,0,1);
	transition: box-shadow 0.5s;
}
/*End CSS for sponsors*/

/*CSS for officers*/
#officers{
	padding-left: 5%;
	padding-right: 5%;
}

.officer-img{
	max-width: 250px;
	margin: auto;
	padding: 5px;
	box-shadow: 0px 0px 5px rgba(0,149,255,1);
}
/*End CSS for officers*/

/*Generic CSS*/
.header-center{
	text-align: center;
}