main {
	height: 425% ; /* 4 sub-pages x 100% */
	width: 100% ;
	margin: 0px;
	padding: 0px;
}

.page {
	height: 25%; /* 100% / 4 sub-pages %/ */
	width: 100%;
	border: 1px solid black;
}

.about-page {
	height: 50%;
	width: 100%;
	border: 1px solid black;
}

#landing {
	color: black;
	background-image: url('/img/engineering-building.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#landing-menu ul li {
	display: inline;
	width: 10%;
	padding: 15px;
	font-size: 1.3em;
}

#about {
	text-align: center;
}

#about h1 {
	padding-top: 60px;
	font-size: 250%;
	font-weight: 900;
	color: rgb(56, 70, 85);
}

#about h2 {
	padding-top: 0px;
	font-size:125%;
}

#about p {
	word-wrap: break-word;
}