<div class="contents-center hoverable">
	<img src="img/headshots/yu hung.jpg" alt="Yu Hong Hwang" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Yu Hong Hwang</b></p>
	<p class="officer-position">EWEEK Committee</p>
</div>
<br>