<div class="contents-center hoverable">
	<img src="img/headshots/davidAmano.jpg" alt="David Amano" class="officer-img responsive-img"/>
	<p class="officer-name"><b>David Amano</b></p>
	<p class="officer-position">EWEEK Committee</p>
</div>
<br>