<div class="contents-center hoverable">
	<img src="img/headshots/logan_cheney.jpg" alt="Logan Cheney" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Logan Cheney</b></p>
	<p class="officer-position">Corporate Director</p>
</div>
<br>