<div class="contents-center hoverable">
	<!-- <img src="img/headshots/EmilyLi.jpg" alt="Emily Li" class="officer-img responsive-img"/> -->
	<p class="officer-name"><b>Fred Chu</b></p>
	<p class="officer-position">Corporate Outreach</p>
</div>
<br>