<div class="contents-center hoverable">
	<img src="img/headshots/CrystalJi.jpg" alt="Crystal Ji" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Crystal Ji</b></p>
	<p class="officer-position">Corporate Outreach</p>
</div>
<br>