<div class="contents-center hoverable">
	<img src="img/headshots/kaitlyn_quesada.jpg" alt="Kaitlyn Quesada" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Kaitlyn Quesada</b></p>
	<p class="officer-position">Equity, Diversity, & Inclusion Chair</p>
</div>
<br>