<div class="contents-center hoverable">
	<img src="img/headshots/SamEsperon.jpg" alt="Sam Esperon" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Sam Esperon</b></p>
	<p class="officer-position">Events Chair</p>
</div>
<br>