<div class="contents-center hoverable">
	<img src="img/headshots/shraddha_prasad.jpg" alt="Shraddha Prasad" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Shraddha Prasad</b></p>
	<p class="officer-position">Events Chair</p>
</div>
<br>