<div class="contents-center hoverable">
	<img src="img/headshots/sherry_ye.jpg" alt="Sherry Ye" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Sherry Ye</b></p>
	<p class="officer-position">Events Chair</p>
</div>
<br>