<div class="contents-center hoverable">
	<img src="img/headshots/swathi.jpg" alt="Swathi Kamath" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Swathi Kamath</b></p>
	<p class="officer-position">External Vice President</p>
</div>
<br>