<div class="contents-center hoverable">
	<img src="img/headshots/ikuko_nakano.jpg" alt="Ikuko (Coco) Nakano" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Ikuko (Coco) Nakano</b></p>
	<p class="officer-position">External Vice President</p>
</div>
<br>