<div class="contents-center hoverable">
	<img src="img/headshots/StephanieT.jpg" alt="Stephanie Tamayosa" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Stephanie Tamayosa</b></p>
	<p class="officer-position">External Vice President</p>
</div>
<br>