<div class="contents-center hoverable">
	<img src="img/headshots/jonathan_huang.jpg" alt="Jonathan Huang" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Jonathan Huang</b></p>
	<p class="officer-position">E-Week Chair</p>
</div>
<br>