<div class="contents-center hoverable">
	<!-- <img src="img/headshots/StephanieT.jpg" alt="Stephanie Tamayosa" class="officer-img responsive-img"/> -->
	<p class="officer-name"><b>Arnold Pfahnl</b></p>
	<p class="officer-position">EWEEK Chair</p>
</div>
<br>