<div class="contents-center hoverable">
	<img src="img/headshots/RossanaRico.jpg" alt="Rossana Rico" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Rossana Rico</b></p>
	<p class="officer-position">EWEEK Chair</p>
</div>
<br>