<div class="contents-center hoverable">
	<img src="img/headshots/sumana.jpg" alt="Sumana Kaluvai" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Sumana Kaluvai</b></p>
	<p class="officer-position">EWEEK Chair</p>
</div>
<br>