<div class="contents-center hoverable">
	<img src="img/headshots/GeorgeLi.jpg" alt="George Li" class="officer-img responsive-img"/>
	<p class="officer-name"><b>George Li</b></p>
	<p class="officer-position">Graduate Student Advisor</p>
</div>
<br>