<div class="contents-center hoverable">
	<img src="img/headshots/emika_saito.jpg" alt="Emika Saito" class="officer-img responsive-img"/> 
	<p class="officer-name"><b>Emika Saito</b></p>
	<p class="officer-position">Internal Vice President</p>
</div>
<br>