<div class="contents-center hoverable">
	<img src="img/headshots/mattGarnett.jpg" alt="Matt Garnett" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Matt Garnett</b></p>
	<p class="officer-position">Media Director</p>
</div>
<br>