<div class="contents-center hoverable">
	<img src="img/headshots/dennis_li.jpg" alt="Dennis Li" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Dennis Li</b></p>
	<p class="officer-position">Media Director</p>
</div>
<br>