<div class="contents-center hoverable">
	<img src="img/headshots/grace.jpg" alt="Grace Emmel" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Grace Emmel</b></p>
	<p class="officer-position">Mentorship Chair</p>
</div>
<br>