<div class="contents-center hoverable">
	<img src="img/headshots/yurika_yamada.jpg" alt="Yurika Yamada" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Yurika Yamada</b></p>
	<p class="officer-position">President</p>
</div>
<br>