<div class="contents-center hoverable">
	<img src="img/headshots/ashley_zhu.JPG" alt="Ashley Zhu" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Ashley Zhu</b></p>
	<p class="officer-position">Publicity Chair</p>
</div>
<br>