<div class="contents-center hoverable">
	<img src="img/headshots/TaniaMouchamel.JPG" alt="Tania Mouchamel" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Tania Mouchamel</b></p>
	<p class="officer-position">Publicity Chair</p>
</div>
<br>