<div class="contents-center hoverable">
	<img src="img/headshots/daniel.jpg" alt="Daniel Wefers" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Daniel Wefers</b></p>
	<p class="officer-position">Secretary</p>
</div>
<br>