<div class="contents-center hoverable">
	<img src="img/headshots/angel_monarres.jpg" alt="Angel Monarres" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Angel Monarres</b></p>
	<p class="officer-position">Secretary</p>
</div>
<br>