<div class="contents-center hoverable">
	<img src="img/headshots/DesaiChu.jpg" alt="Desai Chu" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Desai Chu</b></p>
	<p class="officer-position">Social Chair</p>
</div>
<br>