<div class="contents-center hoverable">
	<img src="img/headshots/srikanth_sridharan.jpg" alt="Srikanth Sridharan" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Srikanth Sridharan</b></p>
	<p class="officer-position">Transfer Chair</p>
</div>
<br>