<div class="contents-center hoverable">
	<img src="img/headshots/aditya_mishra.jpg" alt="Aditya Mishra" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Aditya Mishra</b></p>
	<p class="officer-position">Treasurer</p>
</div>
<br>