<div class="contents-center hoverable">
	<img src="img/headshots/dayuen_kim.jpg" alt="Dayuen Kim" class="officer-img responsive-img"/>
	<p class="officer-name"><b>Dayuen Kim</b></p>
	<p class="officer-position">Treasurer</p>
</div>
<br>